{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <!-- Top Navigation Bar -->
    <h2 class="h4 mb-0">{{ request.user.email }}</h2>
    <hr>
    <div class="row py-2" >
        <div class="d-flex flex-column mt-5 mr-3">
            <button class="btn btn-sm btn-outline-secondary mb-2" id="inbox">Inbox</button>
            <button class="btn btn-sm btn-outline-secondary mb-2" id="compose">Compose</button>
            <button class="btn btn-sm btn-outline-secondary mb-2" id="sent">Sent</button>
            <button class="btn btn-sm btn-outline-secondary mb-2 " id="archive">Archived</button>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Log Out</a>
        </div>
        
            <div class=" ">
                <!-- Emails View -->
                <div class="" id="emails-view" class="list-group">
                </div>
        
                <!-- Email Details -->
                <div class="" id="email-details" style="display:none;">
                </div>
            </div>
        
            <!-- Compose View -->
            <div id="compose-view" style="display:none;" class="col-10">
                <h3>New Email</h3>
                <form id="compose-form">
                    <div class="mb-3">
                        From: <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="mb-3">
                        To: <input id="compose-recipients" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control mb-3" id="compose-body" placeholder="Body"></textarea>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
